pkgbase = shiori
	pkgdesc = Modern offline-first eBook library manager built with Tauri, React, and Rust
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/vinayydv3695/Shiori
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	makedepends = webkit2gtk-4.1
	makedepends = base-devel
	makedepends = curl
	makedepends = wget
	makedepends = file
	makedepends = openssl
	makedepends = appmenu-gtk-module
	makedepends = gtk3
	makedepends = libappindicator-gtk3
	makedepends = librsvg
	makedepends = sqlite
	makedepends = zstd
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	depends = librsvg
	depends = speech-dispatcher
	depends = sqlite
	depends = zstd
	optdepends = speech-dispatcher: Native TTS support (experimental)
	provides = shiori
	conflicts = shiori-git
	conflicts = shiori-bin
	source = https://github.com/vinayydv3695/Shiori/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 4fa4b92e1940a752ec26f91155e28a394deee4ac58c5a26ef6ac773fa7b180dc

pkgname = shiori
